<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application>
        <activity
            android:name="sushi.hardcore.droidfs.MainActivity"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.add_volume.AddVolumeActivity"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name="sushi.hardcore.droidfs.explorers.ExplorerActivity"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.explorers.ExplorerActivityPick"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.explorers.ExplorerActivityDrop"
            android:exported="false" />

        <activity
            android:name="sushi.hardcore.droidfs.file_viewers.ImageViewer"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.file_viewers.VideoPlayer"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.file_viewers.PdfViewer"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sushi.hardcore.droidfs.file_viewers.AudioPlayer"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.file_viewers.TextEditor"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.CameraActivity"
            android:screenOrientation="nosensor"
            android:exported="false" />
        <activity
            android:name="sushi.hardcore.droidfs.LogcatActivity"
            android:exported="false" />

        <service
            android:name="sushi.hardcore.droidfs.KeepAliveService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="sushi.hardcore.droidfs.ClosingService"
            android:exported="false"
            android:stopWithTask="false" />
        <service
            android:name="sushi.hardcore.droidfs.file_operations.FileOperationService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="sushi.hardcore.droidfs.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="file_operation_cancel" />
            </intent-filter>
        </receiver>

        <provider
            android:name="sushi.hardcore.droidfs.content_providers.TemporaryFileProvider"
            android:authorities="${applicationId}.temporary_provider"
            android:exported="true" />
    </application>
</manifest>
